{% capture modalBody %}
    {% if customer %}

        <div class="modal__header">Logout of your Account</div>
        <div class="modal__body">
            <div class="modal__link" style="border-bottom: 0px;">
                <a class="modal__login" href="{{ routes.account_logout_url }}">Logout</a>
            </div>
            <!-- <div class="modal__link">
        <a class="modal__signup" href="{{ routes.account_register_url }}">Sign Up</a>
    </div> -->
        </div>

    {% else %}
        <div class="modal__header">Login or create your account</div>
        <div class="modal__body">
            <div class="modal__link">
                <a class="modal__login" href="{{ routes.account_login_url }}">Login</a>
            </div>
            <div class="modal__link">
                <a class="modal__signup" href="{{ routes.account_register_url }}">Sign Up</a>
            </div>
        </div>
    {% endif %}

{% endcapture %}
<div class="modal" id="modal">
    <div class="modal__card">

        {{ modalBody }}

    </div>
</div>