<!-- {% form 'product', product %}
        <div class="product__content-selectors">
            <i class="fa fa-caret-right"></i>

            <select class="var-select" data-index="option{{forloop.index}}" id="id" name="id">
                {% for variant in product.variants %}
                    <option value="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}>{{ variant.title }} - {{ variant.price | money }}</option>
                {% endfor %}
            </select>

            <input id="quantityInput" class="var-select" min="1" name="quantity" type="text" value="1">
    </div>
    <div class="product__content-btns">
        
        {{ form | payment_button | class: 'btn btn-secondary' }}
        <input id="addToCart" class="btn btn-secondary" type="submit" value="Add to cart">
            </div>

        {% endform%} -->


{% form 'product', product %}

    <select name="id" id="id">
        {% for variant in product.variants %}
            <option value="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}>
                {{ variant.title }}
                -
                {{ variant.price | money }}
            </option>
        {% endfor %}
    </select>


    <input id="addToCart" type="submit" value="Add to cart">

{% endform %}


{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script defer src="{{ 'product_form.js' | asset_url }}"></script>