<script defer src="{{ 'product_form.js' | asset_url }}"></script>

<div class="product__selects">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}

        {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                {{ form | payment_terms }}
              {%- endform -%}


{% form 'product', product %}
<variant-radios data-url="{{ product.url }}"" data-section="{{ section.id }}">
    {% for option in product.options_with_values %}
        <fieldset>
            <legend>{{ option.name }}</legend>
            {%- for value in option.values -%}
                <input value="{{ value | escape }}" type="radio" name="{{option.name}}" id="optionValues-{{ forloop.index }}" {% if option.selected_value == value %} checked {% endif %}>
                <label for="optionValues-{{  forloop.index }}" form="product-form-{{ section.id }}">{{ value }}</label>
            {% endfor %}
        </fieldset>
    {% endfor %}
    <script type="application/json">

{{ product.variants | json }}

</script>
</variant-radios>
{% endform %}

<quantity-input>
    <button type="button" class="minus" name="minus">
        <i class="fa fa-minus-circle"></i>
    </button>
    <input id="quantityInput" type="number" value="1" min="1" form="product-form-{{ section.id }}">
    <button type="button" class="plus" name="plus">
        <i class="fa fa-plus-circle"></i>
    </button>

</quantity-input>

<div id="selection-{{ section.id }}" data-section="{{ section.id }}" class="selection-total">
   <span class="total"> Price: {{ current_variant.price | money }}</span>
    {% if current_variant.compare_at_price != null %}
        
    <span class="orig-price">Orig. Price: {{ current_variant.compare_at_price | money }}</span>
    <span class="savings">Total Savings:  {{ current_variant.compare_at_price | minus: current_variant.price | times: 100 | divided_by: current_variant.compare_at_price }}%</span>
    {% else %}
    <span class="orig-price">
       
    </span>
    <span class="savings">
        Savings: -
    </span>

    {% endif %}
        
</div>

<product-form class="product-form">

    {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
    <input form="product-form-{{ section.id }}" id="currentVariant" type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>

    <div class="product-form__buttons">
        <button type="submit" name="addToCart" class="product-form__submit btn btn-primary">Add To Cart</button>
        {{ form | payment_button }}
    </div>
    {%- endform -%}
</product-form>
</div>