{% render 'affirmations-css'%}





<section class="affirmations">

    <h2>Positive Affirmations On Every Crayon</h2>

    <div class="affirmations__content">

{% for block in section.blocks %}
<div class="crayon-container" {{ block.shopify_attributes }}>
    <img
    srcset="{%- if block.settings.image.width >= 400 -%}{{ block.settings.image | image_url: width: 400 }} 400w,{%- endif -%}
        {%- if block.settings.image.width >= 600 -%}{{ block.settings.image | image_url: width: 500 }} 600w,{%- endif -%}
        {%- if block.settings.image.width >= 900 -%}{{ block.settings.image | image_url: width: 500 }} 900w,{%- endif -%}
        {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 500 }} 1500w,{%- endif -%}
        {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
        sizes="(max-width: 400px) 400px, (max-width: 600px) 500px,(max-width: 900px) 500px,(max-width: 1500px) 500px"
        width="{{ block.settings.image.width }}"
        height="{{ block.settings.image.height }}"
        src="{{ block.settings.image | image_url: width: 500 }}" loading="lazy"></img>
</div>
{% endfor %}



        <!-- <div></div> -->
    </div>

</section>

{% schema %}
{
    "name": "Affirmations",
    "settings": [
    ],
    "max_blocks": 10,
    "blocks": [
        {
        "name": "Image",
        "type": "image",
        "settings": [
            {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
            }
            ]
        }
    ],
    "presets": [
    {
    "name":"Affirmations",
    "blocks": [
    {
        "type": "image"
    },
    {
        "type": "image"
    },
    {
        "type": "image"
    },
    {
        "type": "image"
    },
    {
        "type": "image"
    },
    {
        "type": "image"
    },
    {
        "type": "image"
    },
    {
        "type": "image"
    },
    {
        "type": "image"
    },
    {
        "type": "image"
    }
    ]
    }
    ]
}
{% endschema %}