<section class="list-collections">
    <h1>Browse Our Collections</h1>

    {% for collection in collections %}
        {% style %}

.collection-{{forloop.index}}{
    background: url('{{ collection.image | img_url: '500x500' }}');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

{% endstyle %}

        <a href="{{ collection.url }}" class="collection collection-{{ forloop.index }}">
            <h2>{{ collection.title }}</h2>
        </a>

    {% endfor %}
</section>