<script type="text/javascript">
    window.product = {{ product | json }} || {};
</script>

{% assign current_variant = product.selected_or_first_available_variant %}


<section class="product">

    <div class="product__content">

        <div id="price-{{ section.id }}" class="product__content-main-img" data-title="{{ product.title }}" data-price="{{ current_variant.price | money }}">
            <img id="mainImage" loading="lazy" width="500" height="500" alt="" src="{{ product | img_url: '500x500', format: 'pjpg' }}">
        </div>
        <div class="product__content-imgs">
            <i class="fa fa-caret-left"></i>
            {% for image in product.images %}
                <img id="varImage" loading="lazy" width="auto" height="auto" alt="" data-image="{{ forloop.index }}" class="variant-{{ forloop.index}}" src="{{ image.src | img_url: '100x100', scale: 2, crop: 'center', format: 'pjpg'}}">

            {% endfor %}
            <i class="fa fa-caret-right"></i>
        </div>

        {% render 'product-form' %}

    </div>
</section>
